
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

:root {
    --bg-color: #00000000;
    /* --bg-color: rgb(4, 55, 16); */
    --bg-color-transparent: #00000000;
    --fg-color: #5FA332;
    /* --fg-color: #ffe373; */
    --accent-color: #add8e6;
    --fg-transparent: #ffffff00;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    background-color: transparent;
    transition: background-color 1s, color 0.5s;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 200;
    text-align: center;
}
h2 {
    font-weight: 200;
    /* font-style: italic; */
}
h2#caption {
    font-size: 1em;
}

h3{
    font-weight: 200;
    font-size: 2em;
}

a {
    color: var(--fg-color);
}

a:active {
    background-color: var(--accent-color);
    color: var(--fg-color);
}

a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    text-decoration: none;
    
}

hr {
    /* color: var(--fg-color); */
    font-family: 'Roboto Mono', monospace;
    border-top: none;
    border-bottom: 2px dashed var(--fg-color);
    margin-top: 30px;
    margin-bottom: 30px;
}

table.toggles {
    display: block;
    position: fixed;
    bottom: 100px;
    left: 0px;
    border-collapse: collapse;
    font-size: 16px;
    border-top: 2px solid var(--fg-color);
    border-right: 2px solid var(--fg-color);
    box-sizing: border-box;
    
}

table.toggles td {
    display: table-cell;
    width: 50px;
    height: 50px;
    padding: 6px;
    margin: 0px;
    vertical-align: middle;
    background-color: var(--bg-color);
    
}

table.paletteToggles {
    display: block;
    position: fixed;
    top: 0px;
    left: -10px;
    padding: 10px;
    border-collapse: collapse;
    /* transition: background-color 1s; */
    z-index: 0;
}
table.paletteToggles td {
    display: table-cell;
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 0px;
    vertical-align: middle;
    
}

table.paletteToggles .palette svg {
    transform: rotate(0deg);
}

table.schedule {
    display: inline-block;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.schedule tr {
    width: 100%;
}

table.schedule td {
    padding-right: 20px;
}

table.schedule a {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100%;
}

table.schedule h2 {
    min-width: 100%;
}

table.schedule td:nth-child(odd){
   width: 30%;
}

table.schedule td:nth-child(even){
    border-left: 2px solid var(--fg-color);
    border-bottom: 2px dashed var(--fg-color);
    padding-left: 20px;
}

table.schedule tr:nth-child(1){
    border-bottom: 2px dashed var(--fg-color);
}

table.schedule tr:nth-child(1) td:nth-child(1){
    text-align: left;
}
table.schedule tr:last-child td:nth-child(even){
    border-bottom: 0px;
}

table.schedule tr.season td{
    background-color: var(--fg-color);
}

table.schedule tr.season td h1 {
    color: var(--bg-color);
    text-align: left;
    vertical-align: bottom;
}



form {
    display: inline-block;
    position: relative;
    min-width: 30%;
    max-width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

form button h3 {
    margin-top: 7px;
    margin-bottom: 5px;
}

button {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%; 
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    background-color: var(--bg-color);
    outline: none;
    border: var(--fg-color) 2px solid;
    border-radius: 2px;
    color: var(--fg-color);
    transition: background-color 0.05s, color 0.05s;
    cursor: pointer;
    
}

button p {
    font-size: 1.3em;
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.backgroundColor {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    transition: background-color 1s;
    z-index: -1000;

}

.mapContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    text-align: center;
    overflow: hidden;
}

.mapContainer .top {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    /* border-bottom: 2px solid var(--fg-color); */
}

.mapContainer .theme {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    transition: transform 0.05s;
}

.mapContainer .theme:hover {
    transform: scale(1.5);
}

.mapContainer .palette {
    display: block;
    position: relative;
    margin-top: 2px;
    user-select: none;
    transform: scale(1);
    transition: transform 0.05s;
}

.mapContainer .palette:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.mapContainer .layer {
    display: block;
    position: relative;
    /* width: 100%;
    height: 100%; */
    height: 50px;
    width: 500px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    transition: transform 0.05s;
}
.mapContainer .layer .layer-sm {
    display: none;
}
.mapContainer .layer .layer-lg {
    display: block;

}


.mapContainer svg {
    fill: var(--fg-color);
}

.mapContainer .theme svg {
    fill: none;
    stroke: var(--fg-color);
    stroke-width: 15px;
}


.mapContainer .layer .layer-sm p{
    display: block;
    position: fixed;
    top: 20%;
    left: 35%;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.mapContainer .layer svg:hover {
   transform: scale(1.2);
}   

.layerCaption {
    display: block;
    position: fixed;
    top: -100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25%;
    /* vertical-align: middle; */
    padding-top: 25px;
    padding-bottom: 25px;
    /* height: 100px; */
    width: 50%;
    background-color: var(--fg-color);
    color: var(--bg-color);
    /* animation: fadeIn 0.5s ease forwards; */
    /* z-index: 200; */
}

.layerCaption#caption {
    top: 0px;
    background-color: rgba(0,0,0,0);
}

.logo {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 5px;
    /* right: calc(50% - 115px); */
    right: 10px;
    z-index: 100;
}

.logo a:hover {
    background: none;
}

.svgLogo {
    fill: var(--fg-color);
    stroke: none;
    background-color: var(--bg-color);
    border-radius: 100px;
    border: 20px var(--fg-color);
    transition: transform 0.3s;
    
}

.svgLogo:hover {
    transform: rotate(20deg);
}

.barnNav {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    /* right: calc(50% - 115px); */
    left: 10px;
    /* left: -300px; */
    z-index: 100;
    transition: top 1s;
}

.barnNav a:hover {
    background: none;
}

.svgBarn {
    fill: none;
    stroke: var(--fg-color);
    stroke-width: 14px;
    background-color: var(--bg-color);
    border: 3px solid var(--fg-color);
    border-radius: 100px;
    box-sizing: border-box;
    outline: none;
}

.svgBarn:hover {
    /* transform: scale(1.2); */
    stroke: var(--bg-color);
    background-color: var(--fg-color);
    border: 3px solid var(--bg-color);
}

.contentContainer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    min-height: 100px;
    text-align: center;
    border-top: 2px solid var(--fg-color);
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--fg-color);
    transition: height 0.5s, background-color 1s, color 0.5s;
    overflow: hidden;
}

.indent {
    margin-left: 10%;
}

.donateModal {
    display: none;
    position: absolute;
    top: 10px;
    left: 10%;
    width: 80%;
    min-height: 60vh;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border: 5px solid var(--fg-color);
    border-radius: 30px;
    z-index: 100;
}

.contentContainer iframe{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: 0px;
    scroll-behavior: smooth;
}

.aboveContent {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.contentIcon {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    right: calc(50% - 35px);
    padding: 10px;
    /* transition: border 1s; */
    /* transition: color 0.5s, fill 0.5s, background-color 0.5s; */
    box-sizing: border-box;
    border: 3px solid var(--fg-color);
    border-radius: 100px;
    z-index: 100;
    background-color: var(--bg-color);
    color: var(--fg-color);
    /* cursor: pointer; */
}

.contentIcon svg {
    fill: var(--fg-color);
    /* transition: color 0.5s, fill 0.5s, background-color 0.5s; */
}


.contentIcon:hover{
    transition: transform 0.5s;
    cursor: pointer;
    border: 3px solid var(--bg-color);
    background-color: var(--fg-color);
    color: var(--bg-color);
    
}

.contentIcon:hover svg {
    fill: var(--bg-color);
}



.contentIcon h1{
    margin: 0px;
    transition: transform 0.5s;
}

.programNotes {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    text-align: center;
    scroll-behavior: smooth;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.programNotesInner {
    display: block;
    position: relative;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.program 
{
    width: 100%;
}

.schedule {
    vertical-align: center;
    
}

.concertSchedule {
    display: inline-block;
    position: relative;
    /* text-align: center; */
}

select.programSelect {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    font-size: 0.8em;
    /* -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none; */
    outline: none;
}

select.programSelect:hover {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    background-color: var(--fg-color);
    cursor: pointer;
}

select.layerSelect {
    display: inline-block;
    position: relative;
    /* margin-top: 10px; */
    /* padding: 5px; */
    width: 70%;
    color: var(--fg-color);
    border: 2px solid var(--fg-color);
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    font-size: 1em;
    /* -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none; */
    outline: none;
}

select.layerSelect:hover {
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    background-color: var(--fg-color);
    cursor: pointer;
}

.barnheader img {
    display: block;
    position: relative;
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    vertical-align: top;
    border: 4px solid var(--fg-color);
}

.behindTheScenes img {
    display: inline-block;
    position: relative;
    width: 45%;
    min-width: 300px;
    /* margin-right: 10px; */
    margin-top: 18px;
    vertical-align: top;
    border: 4px solid var(--fg-color);
}


.bio img {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    /* margin-right: 10px; */
    margin-top: 18px;
    vertical-align: top;
    border: 4px solid var(--fg-color);
}

.bio .bioText {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}

.bio p {
    font-size: 1em;
    margin: 0px;
}

.canvasParent {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.toggleSection {
    height: 0px;
    overflow: hidden;
}

.endMatter {
    padding-bottom: 40px;
}

::-webkit-scrollbar {
    background-color: var(--bg-color-transparent);
}

/* GROUP-SPECIFIC STYLES */

body#campfire {
    padding-top: 0px;
}

body#starfruit, body#coral, body#kelp {
    padding-top: 0px;
}

.avoidwrap {
    display: inline-block;
}

@media only screen and (max-width: 720px){

    .programNotes h1 {
        font-size: 1.5em;
    }
    .programNotes h2 {
        font-size: 1.2em;
    }

    .videoWrapper {
        max-width: 100%;
    }

    .programNotesInner {
        max-width: 95%;
        padding: 10px;
    }

    .behindTheScenes img {
        display: inline-block;
        width: 99%;
        margin-top: 18px;
        vertical-align: top;
    }

    .bio img {
        display: inline-block;
        max-width: 99%;
        margin-top: 18px;
        vertical-align: top;
    }
    
    .bio .bioText {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .layerCaption {
        margin-left: 33.33%;
        width: 66.66%;
    }

    select.programSelect {
        width: 90%;
    }

    form {
        display: block;
        position: relative;
        min-width: 80%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    table.toggles {
        /* top: 10px;
        left: 5px; */
    }

    table.toggles td{
        /* width: 30px;
        height: 30px;
        padding: 2px; */
    }

    table.paletteToggles {
        bottom: 90px;
        left: -10px;
        height: 50px;
    }

    table.paletteToggles td {
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    .mapContainer .theme {
        
        font-size: 2.5em;
    }

    .mapContainer .palette {
        margin-top: 4px;
        /* font-size: 2em;  */
    }
    

    .mapContainer .layer {
        /* font-size: 0.8em; */
        height: 50px;
        width: 50px;
    }
    
    .mapContainer .layer .layer-sm {
        display: block;
    }
    
    .mapContainer .layer .layer-lg {
        display: none;
    }
}


@keyframes fadeOut {
    0% {top: 0px;}
    100% {top: -100px;}
}

@keyframes fadeIn {
    0% {top: -100px;}
    100% {top: 0px;}
}