
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

:root {
    --bg-color: #00000000;
    /* --bg-color: rgb(4, 55, 16); */
    --bg-color-transparent: #00000000;
    --fg-color: #5FA332;
    /* --fg-color: #ffe373; */
    --accent-color: #add8e600;
    --fg-transparent: #ffffff00;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    background-color: transparent;
    transition: background-color 1s, color 0.5s;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 200;
    text-align: center;
}
h2 {
    font-weight: 200;
    /* font-style: italic; */
}
h2#caption {
    font-size: 1em;
}

h3{
    font-weight: 200;
    font-size: 2em;
}

a {
    color: var(--fg-color);
}

a:active {
    background-color: var(--accent-color);
    color: var(--fg-color);
}

a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    text-decoration: none;
    
}

hr {
    /* color: var(--fg-color); */
    border: 1px dashed var(--fg-color);
}

button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    min-width: 80%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    background-color: var(--bg-color);
    outline: none;
    border: var(--fg-color) 2px solid;
    border-radius: 2px;
    color: var(--fg-color);
    transition: background-color 0.05s, color 0.05s;
    
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.backgroundColor {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    transition: background-color 1s;
    z-index: -1000;

}

.mapContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    text-align: center;
    overflow: hidden;
}

.mapContainer .top {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    /* border-bottom: 2px solid var(--fg-color); */
}

.mapContainer .theme {
    display: block;
    position: fixed;
    top: -7px;
    left: 70px;
    cursor: pointer;
    user-select: none;
}

.mapContainer .theme p {
    margin: 0px;
    font-size: 3em;
    user-select: none;
    transform: scale(1);
}

.mapContainer .theme p:hover {
    transform: scale(1.5);
}

.mapContainer .palette {
    display: block;
    position: fixed;
    top: 10px;
    left: 120px;
    cursor: pointer;
    user-select: none;
}

.mapContainer .palette p {
    margin: 0px;
    font-size: 2em;
    user-select: none;
    transform: scale(1);
}

.mapContainer .palette p:hover {
    transform: scale(1.5);
}

.mapContainer .layer {
    display: block;
    position: fixed;
    top: 0px;
    left: 10px;
    cursor: pointer;
    user-select: none;
}

.mapContainer .layer p {
    margin: 0px;
    padding: 0px;
    font-size: 3em;
    user-select: none;
    transform: scale(1);
    
}
.mapContainer .layer p:hover {
   transform: scale(1.5);
}

.layerCaption {
    display: none;
    position: fixed;
    top: 0px;
    margin-left: 25%;
    margin-top: 0px;
    vertical-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    /* height: 100px; */
    width: 50%;
    background-color: var(--fg-color);
    color: var(--bg-color);
    /* z-index: -200; */
}

.logo {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    right: calc(50% - 115px);
    z-index: 100;
}

.logo a:hover {
    background: none;
}

.svgLogo {
    fill: var(--fg-color);
    stroke: none;
    background-color: var(--bg-color);
    border-radius: 100px;
}

.svgLogo:hover {
    transform: scale(1.2);
}

.barnNav {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: calc(50% - 115px);
    z-index: 100;
}

.barnNav a:hover {
    background: none;
}

.svgBarn {
    fill: var(--fg-color);
    stroke: none;
    background-color: var(--bg-color);
    border-radius: 100px;
}

.svgBarn:hover {
    transform: scale(1.2);
}

.contentContainer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    min-height: 100px;
    text-align: center;
    border-top: 2px solid var(--fg-color);
    box-sizing: border-box;
    background-color: var(--bg-color-transparent);
    color: var(--fg-color);
    transition: height 0.5s, background-color 1s, color 0.5s;
    overflow: hidden;
}

.indent {
    margin-left: 10%;
}

.donateModal {
    display: none;
    position: absolute;
    top: 10px;
    left: 10%;
    width: 80%;
    min-height: 60vh;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border: 5px solid var(--fg-color);
    border-radius: 30px;
    z-index: 100;
}

.contentContainer iframe{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: 0px;
    scroll-behavior: smooth;
}

.aboveContent {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.contentIcon {
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    right: calc(50% - 35px);
    padding: 10px;
    /* transition: border 1s; */
    box-sizing: border-box;
    border: 2px solid var(--fg-color);
    border-radius: 100px;
    z-index: 100;
    background-color: var(--bg-color);
    color: var(--fg-color);
    /* cursor: pointer; */
}


.contentIcon:hover{
    transition: transform 0.5s;
    cursor: pointer;
    border: 2px solid var(--bg-color);
    background-color: var(--fg-color);
    color: var(--bg-color);
    
}

.contentIcon h1{
    margin: 0px;
    transition: transform 0.5s;
}

.programNotes {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    text-align: center;
    scroll-behavior: smooth;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.programNotesInner {
    display: block;
    position: relative;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.schedule {
    vertical-align: center;
    
}

.concertSchedule {
    display: inline-block;
    position: relative;
    /* text-align: center; */
}

select.programSelect {
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 60%;
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    font-family: "Courier New", monospace;
    font-size: 0.8em;
    /* -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none; */
    outline: none;
}

select.programSelect:hover {
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    background-color: var(--fg-color);
}


.bio img {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    /* margin-right: 10px; */
    margin-top: 18px;
    vertical-align: top;
    border: 4px solid var(--fg-color);
}

.bio .bioText {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}

.bio p {
    font-size: 1em;
    margin: 0px;
}

.canvasParent {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

::-webkit-scrollbar {
    background-color: var(--bg-color-transparent);
}

@media only screen and (max-width: 720px){

    .programNotes h1 {
        font-size: 1.5em;
    }
    .videoWrapper {
        max-width: 100%;
    }

    .programNotesInner {
        max-width: 95%;
    }

    .bio img {
        display: inline-block;
        max-width: 99%;
        margin-top: 18px;
        vertical-align: top;
    }
    
    .bio .bioText {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .layerCaption {
        margin-left: 0%;
        width: 70%;
    }

    select.programSelect {
        width: 90%;
    }
}