
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

:root {
    --bg-color: #00000000;
    /* --bg-color: rgb(4, 55, 16); */
    --bg-color-transparent: #00000000;
    --fg-color: #ffffff00;
    /* --fg-color: #ffe373; */
    --accent-color: #add8e600;
    --fg-transparent: #ffffff00;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: var(--fg-color);
    transition: background-color 1s, color 0.5s;
}

h1 {
    font-weight: 200;
}
h2 {
    font-weight: 200;
    font-style: italic;
}
h2#caption {
    font-size: 1em;
}

h3{
    font-weight: 200;
    font-size: 2em;
}

a {
    color: var(--fg-color);
}

a:active {
    background-color: var(--accent-color);
    color: var(--fg-color);
}

a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    text-decoration: none;
    
}

.backgroundColor {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    transition: background-color 1s;
    z-index: -1000;

}

.mapContainer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    text-align: center;
    overflow: hidden;
}

.mapContainer .top {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    /* border-bottom: 2px solid var(--fg-color); */
}

.mapContainer .theme {
    display: block;
    position: fixed;
    top: -7px;
    right: 12px;
    cursor: pointer;
}

.mapContainer .theme p {
    margin: 0px;
    font-size: 3em;
}

.mapContainer .palette {
    display: block;
    position: fixed;
    top: 5px;
    left: 12px;
    cursor: pointer;
}

.mapContainer .palette p {
    margin: 0px;
    font-size: 2em;
}

.mapContainer .wb-logo {
    display: block;
    position: fixed;
    top: -5px;
    left: 12px;
}

.contentContainer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    min-height: 100px;
    text-align: center;
    border-top: 2px solid var(--fg-color);
    box-sizing: border-box;
    background-color: var(--bg-color-transparent);
    color: var(--fg-color);
    transition: height 0.5s, background-color 1s, color 0.5s;
    overflow: hidden;
}

.indent {
    margin-left: 10%;
}

.contentContainer iframe{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: 0px;
    
}

.aboveContent {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.contentIcon {
    display: block;
    position: fixed;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    right: calc(50% - 35px);
    padding: 10px;
    transition: border 1s;
    box-sizing: border-box;
    border: 2px solid var(--fg-transparent);
    border-radius: 100px;
    z-index: 100;
    background-color: var(--fg-color);
    color: var(--bg-color);
    /* cursor: pointer; */
}


.contentIcon:hover{
    transition: transform 0.5s;
    cursor: pointer;
    border: 2px solid var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    
}

.contentIcon h1{
    margin: 0px;
    transition: transform 0.5s;
}

.programNotes {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    text-align: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.programNotesInner {
    display: block;
    position: relative;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.bio img {
    display: inline-block;
    width: 40%;
    min-width: 300px;
    /* margin-right: 10px; */
    margin-top: 18px;
    vertical-align: top;
    border: 4px solid var(--fg-color);
}

.bio .bioText {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}

.bio p {
    font-size: 1em;
    margin: 0px;
}

.canvasParent {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

::-webkit-scrollbar {
    background-color: var(--bg-color-transparent);
}

@media only screen and (max-width: 720px){

    .programNotes h1 {
        font-size: 1.5em;
    }
    .videoWrapper {
        max-width: 100%;
    }

    .programNotesInner {
        max-width: 95%;
    }

    .bio img {
        display: inline-block;
        max-width: 99%;
        margin-top: 18px;
        vertical-align: top;
    }
    
    .bio .bioText {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }
}