.algae{
  /* margin: 0 5%; */
  margin: 65px 0 15px 0;
  text-align: center;
}

.algae h2 {
  text-align: right;
}

.algae p {
  text-align: right;
}

.algaeVideoWrapper {
    display: inline-block;
    position: relative;
    height: 0;
    width: 80%;
    padding-bottom: 45%; /* 16:9 = *56.25 */
}
.algaeVideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
