
.programNotesInner {
    max-width: 800px;
}

.comet-videoblock {
    display: inline-block;
    width: 30%;
}

.comet-videoblock iframe {
    width: 100%;
}

.nova-textcolumn {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 6%;
}


@media only screen and (max-width: 720px){

    .comet-videoblock {
        width: 95%;
    }

    .nova-textcolumn {
        display: inline-block;
        width: 95%;
    }
}