
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.programNotesInner {
    max-width: 800px;
}

.comet-videoblock {
    display: inline-block;
    width: 30%;
}

.comet-videoblock iframe {
    width: 100%;
}

.nova-textcolumn {
    display: inline-block;
    width: 30%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 6%;
}

.squaredance-font {
    font-family: 'Special Elite', cursive;
}

.squaredance-font em {
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

.neptune-unit {
    display: block;
    position: relative;
    width: 100%;
    /* height: 60vh; */
    /* padding-top: 5vh; */
    /* padding-bottom: 5vh; */
}

.neptune-vid-wrapper {
    display: inline-block;
    position: relative;
    width: 50%;
    
}

.neptune-vid {
    display: inline-block;
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    vertical-align:middle;
}

.neptune-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.neptune-img {
    display: inline-block;
    position: relative;
    max-height: 100%;
    max-width: 45%;
    /* border-left: 2px var(--fg-color) solid;
    border-right: 2px var(--fg-color) solid; */
    /* background-color: white; */
    box-sizing: border-box;
    padding: 1%;
    vertical-align:middle;
    
}

.neptune-last-img {
    border-left: 2px var(--fg-color) solid;
    border-right: 2px var(--fg-color) solid;
    border-bottom: 2px var(--fg-color) solid;
    background-color: white;
    padding: 10px;
}

@media only screen and (max-width: 720px){

    .comet-videoblock {
        width: 95%;
    }

    .nova-textcolumn {
        display: inline-block;
        width: 95%;
    }

    .neptune-vid-wrapper {
        width: 90%;
    }

    .neptune-vid {
        height: 0;
        width: 100%;
        padding-right: 0%;
        padding-bottom: 56.25%; 
    }

    .neptune-unit {
        display: block;
        position: relative;
        width: 100vw;
        height: auto;

    }
}